.panel-heading{
    text-align: center;
    padding-bottom: 25px;
}

.panel-body{
     text-align: center;
     padding-bottom: 40px;
}

.panel-footer{
	text-align: center;
}

#portfolio-section{
	margin-bottom: 10px;
}